{% extends 'production.twig' %}


{% block seeNewProduction %}
    <div class="product space white newProduct">
        <h3>Nouveau projet</h3>
        <form method="post" action="index.php?action=sendProduction">
            <div class="space white no-padding">
                <input type="text" name="name" placeholder="Nom du projet"/>
            </div>
            <div class="space white">
                <input type="url" name="href" placeholder="Lien http"/>
            </div>
            <div class="space white no-padding">
                <input type="text" name="infos1" placeholder="Infos n°1"/>
            </div>
            <div class="space white no-padding">
                <input type="text" name="infos2" placeholder="Infos n°2"/>
            </div>
            <div class="space white no-padding">
                <input type="text" name="infos3" placeholder="Infos n°3"/>
            </div>
            <div class="space white">
                <input type="text" name="description" placeholder="Description du projet"/>
            </div>
            <div class="space white no-padding">
                <input class="button" type="submit" value="Envoyer"/>
            </div>
        </form>
    </div>
{% endblock %}

{% block seeEditProduction %}
    {% for editProduct in edit %}
    <div class="product space white newProduct">
        <h3>Modifier un projet</h3>
        <form method="post" action="index.php?action=sendEditProduction&id={{ editProduct.id }}">
            <div class="space white no-padding">
                <input type="text" name="name" value="{{ editProduct.name }}"/>
            </div>
            <div class="space white">
                <input type="url" name="href" value="{{ editProduct.href }}"/>
            </div>
            <div class="space white no-padding">
                <input type="text" name="infos1" value="{{ editProduct.infos1 }}"/>
            </div>
            <div class="space white no-padding">
                <input type="text" name="infos2" value="{{ editProduct.infos2 }}"/>
            </div>
            <div class="space white no-padding">
                <input type="text" name="infos3" value="{{ editProduct.infos3 }}"/>
            </div>
            <div class="space white">
                <input type="text" name="description" value="{{ editProduct.description }}"/>
            </div>
            <div class="space white no-padding">
                <input class="button" type="submit" value="Modifier"/>
            </div>
        </form>
    </div>
    {% endfor %}
{% endblock %}