{% extends 'website.twig' %}

{% block seeProduction %}
    {% for product in productions %}
    <div class="product space white">
        <div class="production" id="{{ 'P'~ product.id }}">
        <div class="{{ 'P'~ product.id }} info">
        <p class="name">{{ product.name }}</p>
        <ul class="fa-ul delete">
            <li><i class="fa-li fa fa-check-square"></i>{{ product.infos1 }}</li>
            <li><i class="fa-li fa fa-check-square"></i>{{ product.infos2 }}</li>
            <li><i class="fa-li fa fa-check-square"></i>{{ product.infos3 }}</li>
        </ul>
        <p class="infos delete">{{ product.description }}</p>
    </div>
    </div>
    </div>
    {% endfor %}
    {% if session %}
        {% block seeNewProduction %}{% endblock %}
    {% endif %}

{% endblock %}



{% block seeNewProduction %}
    <div class="product space white newProduct">
        <h3>Nouveau projet</h3>
        <form method="post" action="<?php echo 'index.php?action=sendProduction' ?>">
            <div class="space white no-padding">
                <input type="text" name="name" placeholder="Nom du projet"/>
            </div>
            <div class="space white">
                <input type="url" name="href" placeholder="Lien http"/>
            </div>
            <div class="space white no-padding">
                <input type="text" name="infos1" placeholder="Infos n°1"/>
            </div>
            <div class="space white no-padding">
                <input type="text" name="infos2" placeholder="Infos n°2"/>
            </div>
            <div class="space white no-padding">
                <input type="text" name="infos3" placeholder="Infos n°3"/>
            </div>
            <div class="space white">
                <input type="text" name="description" placeholder="Description du projet"/>
            </div>
            <div class="space white no-padding">
                <input class="button" type="submit" value="Envoyer"/>
            </div>
        </form>
    </div>
{% endblock %}

{% block seeDeleteEditProduct %}
    <div class="product space white newProduct">
        <h3>Supprimer un projet</h3>
        <form class="choices" method="post" action="index.php?action=deleteProduction">
            <label for="id">Choisir le projet à surpprimer</label><br />
            <select name="id" id="deleteID">
                <?php
                        $this->sqlPrepare($this->sqlSelectId, $this->emptyArray);
                while ($data = $this->request->fetch()){
                echo '<option value="'.$data['id'].'">'.$data['id'].'</option>';
                }?>
            </select>
            <div class="space white no-padding">
                <input class="button" type="submit" value="Supprimer"/>
            </div>
        </form>
        <h3>Modifier un projet</h3>
        <form class="choices" method="post" action="<index.php?action=editProduction">
            <label for="id">Choisir le projet à surpprimer</label><br />
            <select name="id" id="editID">
                <?php
                        $this->sqlPrepare($this->sqlSelectId, $this->emptyArray);
                while ($data = $this->request->fetch()){
                echo '<option value="'.$data['id'].'">'.$data['id'].'</option>';
                }?>
            </select>
            <div class="space white no-padding">
                <input class="button" type="submit" value="Modifier"/>
            </div>
        </form>
    </div>
{% endblock %}