{% extends 'website.twig' %}


{% block seeProduction %}
    {% for product in productions %}
        <div class="product space white">
            <a href="{{ product.href }}" target="_blank">
                <div class="production" id="{{ 'P'~ product.id }}" style="background-image:url(img/{{ product.backgroundName }}.jpg); background-size:cover">
                    <div class="{{ 'P'~ product.id }} info">
                        <p class="name">{{ product.name }}</p>{% if session %}<p>Projet n°{{ product.id }}{% endif %}</p>
                        <ul class="fa-ul delete">
                            <li><i class="fa-li fa fa-check-square"></i>{{ product.infos1 }}</li>
                            <li><i class="fa-li fa fa-check-square"></i>{{ product.infos2 }}</li>
                            <li><i class="fa-li fa fa-check-square"></i>{{ product.infos3 }}</li>
                        </ul>
                        <p class="infos delete">{{ product.description }}</p>
                    </div>
                </div>
            </a>
        </div>
    {% endfor %}
    {% if session %}
        {% block seeNewProduction %}{% endblock %}
        {% block seeDeleteEditProduct %}{% endblock %}
        {% block seeEditProduction %}{% endblock %}
    {% endif %}

{% endblock %}
