{% block content %}
    {% for product in productions %}
        <div class="card space white">
            <a href="{{ product.href }}" target="_blank"><img src="img/p{{ product.id }}.jpg" alt="Avatar" style="width:100%"></a>
            <div class="container">
                <p class="nameProduct">{{ product.name }}</p>
                <p class="filter"><span>{{ product.infos1 }}</span>, <span>{{ product.infos2 }}</span>, <span>{{ product.infos3 }}</span></p>
                <p>{{ product.description }}</p>
                {% if session %}
                    <div class="space row">
                        <a class="button" href="index.php?action=deleteProduction&id={{ product.id }}">Supprimer</a>
                        <a class="button" href="index.php?action=editProduction&id={{ product.id }}">Modifier</a>
                    </div>
                {% endif %}
            </div>
        </div>
    {% endfor %}
{% endblock %}